.home-section {
  margin-top: 100px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 50px;
  width: 80%;
}

.home-section p {
  text-align: justify;
  width: 100%;
}

.home-section h1 {
  width: 100%;
  text-align: center;
  overflow-y: hidden;
}

.home-section img {
  border-bottom: 3px dashed var(--main-color);
  border-right: 3px dashed var(--main-color);
}

.whatsapp-link:hover {
  color: var(--color-02);
}

.links {
  margin-top: 15px;
}

@media (min-width: 768px) {
  .home-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 200px;
  }
  .texts {
    width: 40%;
    h1 {
      font-size: 3rem;
      width: 100%;
      text-align: left;
    }
    p {
      font-size: 1.3rem;
    }
  }
  .home-section img {
    width: 40%;
  }
}
