* {
  overflow-x: hidden;
}

.menu {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 50px;
}

.menu h2 {
  margin-top: 80px;
  margin-bottom: 20px;
}

.menu-preview {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

.menu-way {
  margin-top: 30px;
  padding: 10px;
  cursor: pointer;
}

.more {
  padding: 6px;
}

@media (min-width: 768px) {
  .menu {
    margin-top: 100px;
  }

  .menu h2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .menu-preview {
    gap: 40px;
  }
}
