@import "tailwindcss";

:root {
  --main-color: #126091;
  --color-01: #113891;
  --color-02: #118991;
  --color-03: c8eaff#;
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
